[data-theme="light"] {
    --color-bg: #ffffff;
    --color-fg: #000000;
 }
 
 [data-theme="dark"] {
    --color-bg: #000000;
    --color-fg: #ffffff;
 }
 
 body {
   background-color: var(--color-bg);
   color: var(--color-fg);
   display: grid;
   min-height: 100vh;
   place-items: center;
 }

 label {
    background-color: var(--color-bg);
    color: var(--color-fg);
 }

 .converter-tab .nav-link {
    background-color: var(--color-bg);
    color: var(--color-fg);
    padding: 0.5rem 1rem;
    border: 0;
    position: relative;
    font-size: 15px;
    font-weight: 600;
}

/* Active state styles */
.converter-tab .nav-link.active {
    color: var(--primary-color);
    box-shadow: 0 8px 8px -4px lightseagreen;
}

.converter-tab .nav-link.active::before {
    background-color: var(--color-bg);
    color: var(--color-fg);
    width: 100%;
}

#theme {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

#theme #theme-button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  transition: all var(--global-transition-time) ease-in-out;
  border-radius: 1rem;
  cursor: pointer;
  color: var(--color-fg);
  background-color: var(--color-bg);
  border: 0.25rem solid var(--color-fg);
}

section {
  padding-top: 5rem; 
}
